.navbar {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  /* padding-right: 50px; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
}

.navbar.sticky {
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
  border-radius: 0px 0px 8px 8px;
}

.navbar-toggler {
  position: absolute;
  right: 50px;
  top: 25px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--font-color-base);
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

/* toggling the dropdown menu for the nav */
[aria-controls="navbarDropdown"] {
  display: none;
}

.nav-links,
.nav-links ul {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.nav-links li {
  margin-right: 1rem;
  font-weight: 600;
}

.hero {
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  /* padding-right: 50px; */
}

.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -100px;
}

.message h2 {
  color: var(--black);
  font-size: 3rem;
  font-weight: 500;
}

.message p {
  margin-top: 0.5rem;
  margin-bottom: 1.75rem;
}

.learn-more .btn {
  margin-right: 1rem;
}

.learn-more span a {
  color: var(--font-color-link);
  font-weight: 600;
}

.logo-icons {
  width: 455px;
}

.logo-grid {
  display: grid;
  border: 1px solid transparent;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 100%;
  height: 100%;
  padding: 1rem;
  /* gap: 20px; */
  /* grid-template-areas: 
  ; */
  /* position: relative; */
}

/* for this image we are using a grid to size the item. so adding padding to the image itself helped to shrink it down inside its container */
.icon-item img {
  vertical-align: middle;
  border-style: none;
  padding: 15px;
}

.icon-item {
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 0 30px rgba(48, 63, 100, 0.5);
}

/* assigns the grid areas */

/* asana */
.one {
  grid-area: one;
  grid-column: 14/17;
  grid-row: 1/4;
}

/* atlassian */
.two {
  grid-area: two;
  grid-column: 7/10;
  grid-row: 1/4;
}

/* calendar */
.three {
  grid-area: three;
  grid-column: 14/17;
  grid-row: 14/17;
}

/* google-A */
.four {
  grid-area: four;
  grid-column: 6/8;
  grid-row: 12/14;
}

/* google */
.five {
  grid-area: five;
  grid-column: 4/6;
  grid-row: 1/3;
}

/* paypal */
.six {
  grid-area: six;
  grid-column: 1/4;
  grid-row: 7/10;
}

/* weave */
.seven {
  grid-area: seven;
  grid-column: 10/13;
  grid-row: 7/10;
}

/* Key benefits */
.key-benefits,
.benefit-card {
  display: flex;
  flex-direction: column;
}

.benefit-card:hover {
  color: rgb(83, 229, 252);
}

.key-benefits {
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.key-benefits h3 {
  font-size: 30px;
  color: var(--black);
  font-weight: 600;
}

.key-benefits p {
  font-weight: 500;
}

.benefit-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: var(--size-20);
  margin: 50px 0px;
}

.benefit-card {
  padding: var(--size-18);
  box-shadow: 0 0 30px rgba(48, 63, 100, 0.5);
  background: var(--white);
  /* width: 200px; */
  width: 23%;
}

.benefit-card .img-wrapper {
  width: 45px;
}

.benefit-card h4,
.benefit-card p,
.benefit-card a {
  margin-top: 1rem;
}

.benefit-card h4 {
  color: var(--black);
  font-weight: 800;
  font-size: 16px;
}

.benefit-card p {
  font-weight: 500;
}

.benefit-card a {
  color: var(--font-color-link);
  font-weight: 600;
}

/* Banner one */

.banner-one {
  justify-content: space-between;
  align-items: center;
  background-color: #f8fafe;
  padding-bottom: 0px;
  padding-top: 40px;
  margin-bottom: 50px;
}

.banner-one .container {
  display: flex;
  align-items: center;
  padding-right: 0px;
}

.right {
  width: 65%;
  padding-top: 40px;
}

.left {
  width: 50%;
}

.left h3 {
  margin-bottom: 1rem;
  color: var(--black);
  font-size: 30px;
  font-weight: 400;
}

.banner-two {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.banner-two h3,
.pricing h3 {
  font-size: 24px;
  color: var(--black);
}

.banner-two p,
.pricing p,
.price-card h4 span {
  color: var(--font-color-base);
}

.banner-two p {
  font-weight: 500;
}

/* the circles
 */

.circles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 10px 0px;
}

.circles-container > div {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
}

.circle {
  display: flex;
  width: 50px;
  height: 50px;
  background: #c2c3c5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.small-circle {
  background: var(--font-color-link);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.item::before,
.item::after {
  content: "";
  width: 30px;
  height: 1px;
  background: #c2c3c5;
}

.item:last-of-type::after,
.item:first-of-type::before {
  content: unset;
}

.divider {
  width: 90px;
  height: 1px;
  background: #c2c3c5;
}

.circles-information {
  display: flex;
  font-size: 24px;
  gap: 50px;
  color: var(--black);
  margin-bottom: 50px;
}

/* end of circles */

.video-wrapper {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}
.plybtn {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.banner-two .container,
.video-wrapper {
  background-image: url("/saas-project-assets/banners/banner_two.jpg");
  width: 100%;
  /* height: 500px; */
  display: flex;

  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  background-image: none;
}
.banner-two .container span,
.plybtn {
  font-size: 80px;
}

.btn-play-white {
  display: inline-block;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--black);

  box-shadow: 0 10px 20px rgba(55, 58, 59, 0.5);

  border-radius: 50%;
  transition: ease-in-out 0.3s;
}

/* Hubspot */

.hubspot .container {
  display: flex;
  position: relative;
  height: 600px;
}

.hubspot .images {
  margin: 20px 50px;
}

.hubspot .dots {
  position: absolute;
  top: 134px;
  left: 6px;
  width: 210px;
  height: 100%;
}
.hubspot .girl {
  position: relative;
  width: 396px;
  height: 100%;
}

.hubspot .person-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  bottom: 46px;
}

.hubspot .person-info .img-wrapper {
  width: 115px;
}

.hubspot .person-info p {
  font-size: 20px;
  color: var(--black);
  font-weight: 600;
}

.hubspot .woman-three h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
}
.hubspot .woman-three p {
  font-size: 12px;
  font-weight: 600;
  color: var(--font-color-base);
}

/* Companies */
.companies {
  text-align: center;
}

.companies h4 {
  font-size: 20px;
  font-weight: 700;
}

.company-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0px;
}

.company-logo {
  width: 100px;
  height: 100%;
}

/* Pricing */
.pricing {
  flex-direction: column;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.bottom {
  display: flex;
  margin: 50px 20px 20px 20px;
  align-items: center;
  gap: 20px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  text-align: left;
  grid-gap: 40px;
}

.pricing-grid .img-wrapper {
  width: 50px;
  background-color: transparent;
}

.pricing-grid .grid-item h4 {
  color: var(--black);
  margin: 20px 0px;
  font-size: 16px;
  font-weight: 800;
}

.price-card {
  display: flex;
  /* flex-wrap: wrap; */
  text-align: left;
  width: 300px;
  height: 400px;
}

.price-card a {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  justify-content: center;
  padding: 5px 0px;
  border-radius: 50px;
  align-items: center;
  gap: 5px;
  background-color: var(--font-color-link);
  color: var(--white);
}

.price-card a span {
  font-size: 18px;
}

.price-card h4 {
  font-size: 50px;
  color: var(--black);
  font-weight: 400;
  margin-bottom: 10px;
}

.price-card h4 span {
  font-size: 12px;
}

.price-card div {
  /* width: 50%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  padding: 20px 0px;
}

.price-card div p {
  font-size: 10px;
}

/* section Hire */

.hire {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2a365a;
  height: 630px;
  margin: 0;
  padding: 20px 30px 20px 35px;
  justify-content: space-evenly;
}

/* this separates them when they are side by side */
.hire-us,
.form-container {
  width: 50%;
  /* border: 1px solid black; */
}

.hire-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.hire-us h3,
.hire-us h5,
.hire-us p i {
  color: var(--white);
}

.hire-us h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.hire-us h5 {
  font-size: 16px;
  margin: 50px 0px 0px 0px;
}

.hire p {
  color: #6b7686;
  font-size: var(--size-14);
}

.hire h3 {
  font-size: 24px;
  font-weight: 600;
}

.line {
  background: var(--white);
  height: 3px;
  width: 150px;
  margin: 20px 0px;
}

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.person {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.big {
  width: 50px;
  height: 50px;
}

/* The Form */

.form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: left;
  border: 1px solid transparent;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 8px;
  margin: 0px 0px 0px 55px;
  padding: 20px 0px 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  align-items: center;
}

form h5 {
  font-size: 15px;
  color: var(--black);
}

.form-item a {
  border-bottom: 1px dotted var(--font-color-base);
}

.form-item {
  display: flex;
  width: 90%;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

input,
textarea,
select {
  font-size: small;
  width: 80%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid var(--font-color-light);
  font-family: "Roboto", sans-serif;
}

.form-item select {
  color: var(--black);
  font-weight: 700;
}

input#marketing {
  width: 5%;
}

.form-item label {
  font-size: 12px;
}

textarea {
  width: 100%;
}

/* Actual footer section */
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 10px;
}

.footer .top,
.footer .bottom {
  display: flex;
}

.footer .top {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
}

.footer .top .logo-wrapper {
  height: 100%;
  width: 100px;
}

.footer .information {
  display: flex;
  gap: 70px;
}

.footer .top h4 {
  font-weight: 800;
  color: var(--black);
  font-size: 20px;
}

.footer .top ul {
  margin-top: 5px;
}
p span i,
.resources-info span i {
  font-size: 10px;
}

.footer .bottom {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.footer .bottom .hr {
  background-color: var(--font-color-light);
  width: 100%;
  height: 1px;
}

.bottom .footer-nav,
.footer-left,
.footer-right {
  display: flex;
  flex-direction: row;
}

.bottom .footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer-right ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-right ul li {
  color: var(--font-color-base);
  background-color: var(--font-color-light);
  padding: 5px 10px;
  border-radius: 8px;
}

.footer-right select {
  width: 150px;
  margin-left: 20px;
  padding: 5px 10px;
  background-color: var(--font-color-light);
  border: none;
  color: var(--black);
  box-sizing: border-box;
}

.copyright {
  text-align: center;
  padding-bottom: 50px;
}

/* anchor tags/links */
.active {
  color: var(--font-color-link);
}

.form-item a.active {
  border-bottom: 1px dotted var(--font-color-link);
}

.footer-right ul li.active-social {
  color: transparent;
  background-color: var(--font-color-base);
}

.active-social a:link {
  color: var(--font-color-light);
}

/* right now all links showing as visited, don't understand why.... */
/* unvisited link */
/* a:link {
  color: var(--font-color-base);
} */

/* visited link */
/* a:visited {
  color: rgb(176, 53, 224);
} */

/* mouse over link */
/* a:hover {
  color: rgb(83, 229, 252);
} */

/* selected link */
/* a:active {
  color: var(--font-color-link);
} */

#scrollUp {
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    #9ccdfe 0%,
    #94aafd 100%
  );
  color: var(--white);
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  z-index: 100;
}
